<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>동적 컴포넌트</title>
  <style>
    .posts-sidebar {
      list-style: none;
      padding: 0;
      border: 1px solid black;
    }
    .posts-sidebar li {
      border: 1px solid grey;
      width: 150px;
      background: grey;
      border-radius: 5px;
      margin: 2%;
      text-align: center;
      color: white;
      font-weight: bold;
    }
    .posts-sidebar li:hover {
      transform: scale(1.1);
      transition: 0.3s;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const bookComponent = {
        template : `<div>책 컴포넌트</div>`
      }

      const formComponent = {
        template : `<div>폼 컴포넌트</div>`
      }

      const headerComponent = {
        template : `<div>헤더 컴포넌트</div>`
      }

      Vue.component('tab-posts', { 
        data: function () {
          return {
            posts: [
              { 
                id: 1, 
                title: 'Cat Ipsum',
                content: '<p>Dont wait for the storm to pass, dance in the rain kick up litter decide to want nothing to do with my owner today demand to be let outside at once, and expect owner to wait for me as i think about it cat cat moo moo lick ears lick paws so make meme, make cute face but lick the other cats. Kitty poochy chase imaginary bugs, but stand in front of the computer screen. Sweet beast cat dog hate mouse eat string barf pillow no baths hate everything stare at guinea pigs. My left donut is missing, as is my right loved it, hated it, loved it, hated it scoot butt on the rug cat not kitten around</p>'
              },
              { 
                id: 2, 
                title: 'Hipster Ipsum',
                content: '<p>Bushwick blue bottle scenester helvetica ugh, meh four loko. Put a bird on it lumbersexual franzen shabby chic, street art knausgaard trust fund shaman scenester live-edge mixtape taxidermy viral yuccie succulents. Keytar poke bicycle rights, crucifix street art neutra air plant PBR&B hoodie plaid venmo. Tilde swag art party fanny pack vinyl letterpress venmo jean shorts offal mumblecore. Vice blog gentrify mlkshk tattooed occupy snackwave, hoodie craft beer next level migas 8-bit chartreuse. Trust fund food truck drinking vinegar gochujang.</p>'
              },
              { 
                id: 3, 
                title: 'Cupcake Ipsum',
                content: '<p>Icing dessert soufflé lollipop chocolate bar sweet tart cake chupa chups. Soufflé marzipan jelly beans croissant toffee marzipan cupcake icing fruitcake. Muffin cake pudding soufflé wafer jelly bear claw sesame snaps marshmallow. Marzipan soufflé croissant lemon drops gingerbread sugar plum lemon drops apple pie gummies. Sweet roll donut oat cake toffee cake. Liquorice candy macaroon toffee cookie marzipan.</p>'
              }
            ],
            selectedPost: null
          }
        },
          template: `
            <div class="posts-tab">
              <ul class="posts-sidebar">
                <li
                  v-for="post in posts"
                  v-bind:key="post.id"
                  v-bind:class="{ selected: post === selectedPost }"
                  v-on:click="selectedPost = post"
                >
                  {{ post.title }}
                </li>
              </ul>
              <div class="selected-post-container">
                <div 
                  v-if="selectedPost"
                  class="selected-post"
                >
                  <h3>{{ selectedPost.title }}</h3>
                  <div v-html="selectedPost.content"></div>
                </div>
                <strong v-else>
                  Click on a blog title to the left to view it.
                </strong>
              </div>
            </div>
          `
        })

      Vue.component('tab-archive', { 
        template: '<div>Archive component</div>' 
      })
      
      let v1 = new Vue({
        el : '#app',
        data : {
          currentView : bookComponent,
          currentTab : 'Posts',
          tabs : ['Posts', 'Archive']
        },
        components : {
          'book-component' : bookComponent,
          'form-component' : formComponent,
          'header-component' : headerComponent
        },
        computed : {
          currentTabComponent: function() {
            return 'tab-' + this.currentTab.toLowerCase()
          }
        },
        methods : {
          changeComponent : function() {
            if (this.currentView === headerComponent) {
              this.currentView = bookComponent;
            } else {
              // currentView가 bookComponent면 폼 컴포넌트로 아니면 아니면 헤더 컴포넌트로 변경
              this.currentView = this.currentView === bookComponent ? formComponent : headerComponent;
            }
          }
        }
      });
    });
  </script>
  <div id="app">
    <button v-on:click="changeComponent">컴포넌트 변경</button>
    <hr>
    <h1>
      <!-- Similar to if directive -->
      <component v-bind:is="currentView"></component>
    </h1>
    <hr>
    <div id="dynamic-component-demo">
      <button
        v-for="tab in tabs"
        v-bind:key="tab"
        v-bind:class="['tab-button', { active: currentTab === tab }]"
        v-on:click="currentTab = tab"
      >{{ tab }}</button>
      <!-- 동적 컴포넌트의 재사용 API -->
      <!-- Keep Alive = conditionally cache component instances when 
      dynamically switching between multiple components -->
      <keep-alive>
        <component v-bind:is="currentTabComponent" class="tab"></component>
      </keep-alive>
    </div>
  </div>
</body>
</html>